<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="utf-8">
    <link href="dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="S7VEN Co.">
    <meta name="keywords" content="real estate, agents, web">
    <meta name="author" content="Francisco Velasquez">
    <title>S7VEN CO</title>
    <!-- BEGIN: CSS Assets-->
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/dist/css/app.css" />
    <link rel="stylesheet" href="~/Content/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select@1.1/dist/js/tom-select.complete.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
    <link rel="icon" href="~/Content/dist/images/logosiete.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js" integrity="sha512-5XAS7mhslf6oGjLxzmY4iYfFwDGf8G1ZBeWdymR/+y8ZCvPWwI3Ff+WrS+kabqYdIEwYaLEnJhsuymZxgrneQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- END: CSS Assets-->
    <style>
        table.dataTable.no-footer {
            border-bottom: 0 !important;
        }

        .dataTables_filter {
            margin-bottom: 50px;
        }

        .swal2-title {
            line-height: 30px !important;
        }

        .swal2-styled.swal2-confirm {
            background-color: #57770d;
        }

        [data-letters]:before {
            content: attr(data-letters);
            display: inline-block;
            font-size: 1em;
            width: 2.5em;
            height: 2.5em;
            line-height: 2.5em;
            text-align: center;
            border-radius: 50%;
            background: #1c3faa;
            vertical-align: middle;
            color: white;
        }

        .dashboardcrm {
        }

        .flexnav {
            -webkit-padding-start: 0px;
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
            width: 90%;
            position: relative; /* <-- Added */
            z-index: 1; /* <-- Added */
        }

        .badgeleadagents:hover {
            background-color: #0094ff;
            color: #fff;
        }

        .selectedresourcetype {
            text-decoration: underline;
            color: #000;
            font-size: 16px;
            font-weight: bolder;
        }

        button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled), input.dt-button:hover:not(.disabled) {
            background: #ccc;
        }

        button.dt-button:active:not(.disabled):hover:not(.disabled), button.dt-button.active:not(.disabled):hover:not(.disabled), div.dt-button:active:not(.disabled):hover:not(.disabled), div.dt-button.active:not(.disabled):hover:not(.disabled), a.dt-button:active:not(.disabled):hover:not(.disabled), a.dt-button.active:not(.disabled):hover:not(.disabled), input.dt-button:active:not(.disabled):hover:not(.disabled), input.dt-button.active:not(.disabled):hover:not(.disabled) {
            background: #ffd800;
        }

        div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled) {
            background: #162343 !important;
            color: white;
        }
    </style>
</head>
<body class="main">
    <!-- BEGIN: Mobile Menu -->
    @*@Html.Partial("~/Views/Shared/Partials/Menu/Mobile_menu.cshtml")*@
    <!-- END: Mobile Menu -->
    <!-- BEGIN: Top Bar -->
    @Html.Partial("~/Views/Shared/Partials/Menu/Top_bar.cshtml")
    <!-- END: Top Bar -->
    <!-- BEGIN: Top Menu -->
    @Html.Partial("~/Views/Shared/Partials/Menu/Top_menu.cshtml")
    <!-- END: Top Menu -->
    <!-- Begin Preloader -->
    <!-- End Preloader -->
    <!-- BEGIN: Content -->
    <div class="content content--top-nav ">
        @RenderBody()

    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/613f154ed326717cb68124b8/1fff6mf0k';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
    <!--End of Tawk.to Script-->
</body>
</html>
<!-- BEGIN: JS Assets-->
<script src="~/Content/dist/js/app.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdnjs.com/libraries/Chart.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<!-- END: JS Assets-->
<!-- BEGIN: JS Scripts-->
<script>
    function CambiarBroker(broker) {
        var url = '@Url.Action("ChangeBrokerFilter","Portal", new { broker="IDCOMPANY"})';
        url = url.replace("IDCOMPANY", broker);
        window.location.href = url;
    }



</script>
@RenderSection("scripts", required: false);

