@model Realestate_portal.Models.Billing_Shipping_details

@{
    ViewBag.Title = "Payment";

}

<style>
    .header-box {
        background-color: gray;
        width: 100%;
        margin: auto;
        padding: 5px;
        color: white;
    }

    .checkout-btn {
        background-color: #236386;
        width: 220px;
        margin: auto;
        padding: 2px;
        padding-left: 12px;
    }

    .btn-box {
        margin: auto;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .modal-body {
        width: 100%;
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-flow: column wrap;
        align-content: space-around;
        text-align: center;
    }
</style>
@*<link rel="stylesheet" href="~/Content/common/stripe/global.css" />*@

<div class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <a href="@Url.Action("Index","Market")">Market</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a href="@Url.Action("Checkout","Market")">Check Out</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a href="#" class="breadcrumb--active">Payment</a>
    </div>
    <!-- END: Breadcrumb -->

</div><br />
<br />
<div class="grid grid-cols-12">
    <div class="col-span-12">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>
                    VERIFY & SUBMIT ORDER
                </h2>
            </div>
            <div class="col-md-8 col-sm-12">
                <a href="@Url.Action("PurchaseHistory","Market")" style="float:right; color:white; width:160px" class=" btn btn-primary rounded shadow ml-5"><span class="btn-box">Purchase history <i class="la la-dollar la-2x ml-2"></i></span></a>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="header-box" style="display: inline-block">
                    <h3 style="color:white">BILLING INFORMATION  <a id="billingbtn" href="#" style="color: black; float:right">Edit</a></h3>
                </div>
                <br />
                <br />
                <div id="billing">
                    <span>@Model.first_name @Model.last_name </span><br />
                    <span>@Model.phone</span><br />
                    <span>@Model.email</span><br />
                    <span>@Model.b_Adress @Model.b_suite</span><br />
                    <span>@Model.city, @Model.state, @Model.zip_code</span><br />
                    <span>@Model.s_country</span><br />
                </div>
                <br />
                @if (Model.s_type != null)
            {
                <div class="header-box">
                    <h3 style="color:white">SHIPPING INFORMATION <a href="#" id="shippingbtn" style="color: black; float:right">Edit</a></h3>
                </div>
                <br />
                <div id="shipping">
                    <span>Type: @Model.s_type </span><br />
                    <span>@Model.s_name</span><br />
                    <span>@Model.s_phone</span>
                    <span>@Model.s_adress @Model.s_suite</span><br />
                    <span>@Model.s_city, @Model.s_state, @Model.s_zip_code</span><br />
                    <span>@Model.s_country</span><br />

                </div>
                <br />
        }
                <div class="header-box">
                    <h3 style="color:white">ESPECIAL INSTRUCTIONS</h3>
                </div>
                <br />
                <textarea class="form-control" style="height:100px"></textarea>
                <br />
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="header-box">
                    <h3 style="color:white">ORDEN SUMMARY</h3>
                </div>
                <br />
                <div><span style="float:left">Subtotal:</span><span style="float:right">@(ViewBag.total - 24.95M)</span></div><br />
                <hr />
                <div><span style="float:left">NY Sales Tax:</span><span style="float:right">$00.00</span></div><br />
                <hr />
                <div><span style="float:left">Shipping:</span><span class="shippinglbl" style="float:right">$24.95</span></div><br />
                <hr />
                <div><span style="float:left"><strong>Total:</strong></span><span style="float:right"><strong class="totallbl">@ViewBag.total</strong></span></div><br />
                <br />
                <div class="header-box">
                    <h3 style="color:white">SHIPPING METHOD</h3>
                </div>
                <br />
                <!--
            <input selected id="item.id" class="shipping" type="radio" value="item.price" style="margin-right:15px" />
            -->
                <div><span style="float:left">UPS Ground	</span><span style="float:right">$24.95</span></div><br /><br />
                <br />
                <div class="header-box">
                    <h3 style="color:white">PAYMENT METHOD</h3>
                </div>
                <br />
                <div><h2><strong>DEBIT / CREDIT CARD</strong></h2></div>
                <br />
                <button data-toggle="modal" data-target="#modalNewwebinar" class="btn btn-success  rounded shadow" id="paymentbtn"><span class="btn-box">Complete payment <i class="la la-cc-stripe la-2x ml-2"></i></span></button>
                <br />
            </div>
        </div>
    </div>

</div>




<div aria-hidden="true" id="modalNewwebinar" tabindex="-1" role="dialog" aria-labelledby="closewindow" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div style="background:#f4f4f4" class="modal-header">
                <button data-dismiss="modal" class="close" aria-label="Close">
                    <span style="background-color: black !important" aria-hidden="true"> &times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="~/Content/pgrlogos/S7VENLogoBlack.png" alt="logo" style="width:100px;" class="logo-big">
                </div>
                <br />
                <div style="width:80%;">
                    <div class="header-box" style="background-color:#0056b3">
                        <h3 style="color:white">ORDEN SUMMARY</h3>
                    </div>
                    <br />
                    <div><span style="float:left">Subtotal:</span><span style="float:right">@(ViewBag.total - 24.95M)</span></div><br />
                    <hr />
                    <div><span style="float:left">NY Sales Tax:</span><span style="float:right">$24.95</span></div><br />
                    <hr />
                    <div><span style="float:left">Shipping:</span><span class="shippinglbl" style="float:right">$0.00</span></div><br />
                    <hr />
                    <div><span style="float:left"><strong>Total:</strong></span><span style="float:right"><strong class="totallbl">@ViewBag.total</strong></span></div><br />
                    <br />
                </div>

                <form id="payment-form">
                    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay now</span>
                    </button>
                    <p>Powered by stripe!</p>
                    <strong>
                        <p id="card-error" role="alert" style="color:red"></p>
                    </strong>
                    <strong>
                        <p style="color:green" class="result-message hidden">
                            Payment succeeded!!, you will be redirected to a confirmation page.
                        </p>
                    </strong>
                </form>
                <br />
                <div class="text-center">
                    <img class="mx-1" src="~/Content/images/cc-images/visa-b.png" height="30" alt="Alternate Text" />
                    <img class="mx-1" src="~/Content/images/cc-images/master-b.png" height="30" alt="Alternate Text" />
                    <img class="mx-1" src="~/Content/images/cc-images/discover-b.png" height="30" alt="Alternate Text" />
                    <img class="mx-1" src="~/Content/images/cc-images/amex-b.png" height="30" alt="Alternate Text" />
                </div>
                <br />
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="~/Content/common/stripe/client.js" defer></script>
@section scripts{
    <script>

        var billing = document.getElementById("billing");
        var shipping = document.getElementById("shipping");
        var billingbtn = document.getElementById("billingbtn");
        var shippingbtn = document.getElementById("shippingbtn");
        var billingsavebtn;
        var shippingsavebtn;
        var first_name;
        var last_name;
        var b_Adress;
        var b_suite;
        var city;
        var state;
        var zip_code;
        var email;
        var phone;
        var type;
        var s_name;
        var s_phone;
        var s_adress;
        var s_suite;
        var s_zip_code;
        var s_city;
        var s_state;


        billingbtn.addEventListener("click", editbilling);
        if (shippingbtn) {
            shippingbtn.addEventListener("click", editshipping);
        }


        function editbilling() {
            billing.innerHTML = `
                <input id="first_name" class="form-control" type="text" value="@Model.first_name"></input><br />
                <input id="last_name" class="form-control" type="text" value="@Model.last_name"></input><br />
                <input id="b_Adress" class="form-control" type="text" value="@Model.b_Adress"></input><br />
                <input id="b_suite" class="form-control" type="text" value="@Model.b_suite"></input><br />
                <input id="city" class="form-control" type="text" value="@Model.city"></input><br />
                <input id="state" class="form-control" type="text" value="@Model.state"></input><br />
                <input id="zip_code" class="form-control" type="text" value="@Model.zip_code"></input><br />
                <input id="email" class="form-control" type="text" value="@Model.email"></input><br />
                <input id="phone" class="form-control" type="text" value="@Model.phone"></input><br />
                <button class="btn btn-info" type="submit" id="billingsavebtn">save</button><br />
    `;
            billingsavebtn = document.getElementById("billingsavebtn");
            first_name = document.getElementById("first_name");
            last_name = document.getElementById("last_name");
            b_Adress = document.getElementById("b_Adress");
            b_suite = document.getElementById("b_suite");
            city = document.getElementById("city");
            state = document.getElementById("state");
            zip_code = document.getElementById("zip_code");
            email = document.getElementById("email");
            phone = document.getElementById("phone");
            billingsavebtn.addEventListener("click", savebilling);
        }

        function savebilling() {
            var data = {
                first_name: first_name.value, last_name: last_name.value, b_Adress: b_Adress.value,
                b_suite: b_suite.value, city: city.value, state: state.value, zip_code: zip_code.value,
                email: email.value, phone: phone.value
            };
            $("#preloader").show();
                       $.ajax({
                        type: 'POST',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        url: "@Url.Action("EditBillingInfo", "Market")",
                        data: data,
                        processData: true,
                        success: function (result) {
                            if (result == "Success") {
                                $("#preloader").hide();
                    billing.innerHTML = `
                    <span> ${first_name.value} ${last_name.value}</span><br />
                    <span>${phone.value}</span><br />
                    <span>${email.value}</span><br />
                    <span>${b_Adress.value} ${b_suite.value} </span>
                    <span>${city.value}, ${state.value}, ${zip_code.value}</span><br />
                    <span>@Model.country</span><br />
                                        `;
                                document.getElementById("page-top").scrollIntoView();
                                new Noty({
                                    type: 'success',
                                    layout: 'topRight',
                                    text: 'Billing information edited succesfully',
                                    progressBar: true,
                                    timeout: 2500
                                }).show();
                            }
                            else {
                                $("#preloader").hide();
                                new Noty({
                                    type: 'error',
                                    layout: 'topRight',
                                    text: 'Billing information could not be updated',
                                    progressBar: true,
                                    timeout: 2500
                                }).show();
                                setTimeout(function () {
                                    alert(result);
                                }, 1000);

                            }
                        },
                        error: function (error) {
                            $("#preloader").hide();
                            setTimeout(function () {
                                alert("Error updating the billing details, refresh the page and try again...");
                            }, 1000);

                        }
                    });
        }

        /**
        function editshipping() {
              shipping.innerHTML = `
                       <div class="form-group">
                        <p>Select type of adress </p>
                        <select id="type" class="form-control">
                            <option value="Personal">Personal</option>
                            <option value="Office">Office</option>
                        </select>
                    </div>
                <input id="s_name" class="form-control" type="text" value="Model.s_name"></input><br />
                <input id="s_phone" class="form-control" type="text" value="Model.s_phone"></input><br />
                <input id="s_adress" class="form-control" type="text" value="Model.s_adress"></input><br />
                <input id="s_suite" class="form-control" type="text" value="Model.s_suite"></input><br />
                <input id="s_city" class="form-control" type="text" value="Model.s_city"></input><br />
                <input id="s_state" class="form-control" type="text" value="Model.s_state"></input><br />
                <input id="s_zip_code" class="form-control" type="text" value="Model.s_zip_code"></input><br />
                <button class="btn btn-info" type="submit" id="shippingsavebtn">save</button><br />
    `;
            shippingsavebtn = document.getElementById("shippingsavebtn");
            type = document.getElementById("type");
            s_name = document.getElementById("s_name");
            s_phone = document.getElementById("s_phone");
            s_adress = document.getElementById("s_adress");
            s_suite = document.getElementById("s_suite");
            s_city = document.getElementById("s_city");
            s_state = document.getElementById("s_state");
            s_zip_code = document.getElementById("s_zip_code");
            shippingsavebtn.addEventListener("click", saveshipping);
        }


        function saveshipping() {
            var data = {
                s_name: s_name.value, s_phone: s_phone.value, s_adress: s_adress.value,
                s_suite: s_suite.value, s_city: s_city.value, s_state: s_state.value, s_zip_code: s_zip_code.value,
            };
            $("#preloader").show();
                       $.ajax({
                        type: 'POST',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        url: "Url.Action("EditShippingInfo", "Market")",
                        data: data,
                        processData: true,
                        success: function (result) {
                            if (result == "Success") {
                                $("#preloader").hide();
                                shipping.innerHTML = `
                     <span>Type: ${type.value} </span><br />
                    <span> ${s_name.value} </span><br />
                    <span>${s_phone.value}</span><br />
                    <span>${s_adress.value} ${s_suite.value} </span>
                    <span>${s_city.value}, ${s_state.value}, ${s_zip_code.value}</span><br />
                    <span>Model.country</span><br />
                                        `;
                                document.getElementById("page-top").scrollIntoView();
                                new Noty({
                                    type: 'success',
                                    layout: 'topRight',
                                    text: 'Billing information edited succesfully',
                                    progressBar: true,
                                    timeout: 2500
                                }).show();
                            }
                            else {
                                $("#preloader").hide();
                                new Noty({
                                    type: 'error',
                                    layout: 'topRight',
                                    text: 'Billing information could not be updated',
                                    progressBar: true,
                                    timeout: 2500
                                }).show();
                                setTimeout(function () {
                                    alert(result);
                                }, 1000);

                            }
                        },
                        error: function (error) {
                            $("#preloader").hide();
                            setTimeout(function () {
                                alert("Error updating the billing details, refresh the page and try again...");
                            }, 1000);

                        }
                    });
        }
         */

    </script>
}
