@{
    ViewBag.Title = "SizesAndMaterials";

}

<style>
    #img {
        border: solid black 2px;
    }

    #price, #pricelbl {
        font-size: 20px;
    }

    #description {
        color: black;
        font-size: 20px;
    }
</style>



<div class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <a href="@Url.Action("Index","Market")">Market</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
            <a href="@Url.Action("Brands","Market")">Brands</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
            <a href="@Url.Action("Categories","Market")">Categories</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
            <a href="@Url.Action("Template","Market")">Template</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        
        <a href="#" class="breadcrumb--active">Size and Materials </a>
    </div>
    <!-- END: Breadcrumb -->

</div><br />
<br />

<div class="grid grid-cols-12">
    <div class="col-span-12 2xl:col-span-12">
        <div class="container mt-1">
            <div class="row">
                <div class="col-md-12  text-center">
                    <h1 style="font-weight: bold; color: black ">Materials and Sizes</h1>
                    <br />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12 float-left">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Template", "Market", new {broker=0 })" style="font-weight: bold; color: #236386;margin-right:10px"><i data-feather="check-circle"></i> Select a template</a></li>
                            <li class="breadcrumb-item" aria-current="page" style="font-weight: bold; color: darkgreen;margin-right:10px"><i data-feather="check-circle"></i> Select size and materials</li>
                            <li class="breadcrumb-item" aria-current="page"><i data-feather="arrow-right"></i> Customize it</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-5 col-sm-12">
                    <img src="~/@ViewBag.Path" id="img" alt="Alternate Text" />
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <!--Form starts here-->
                    @using (Html.BeginForm("TemplateCreate", "Market", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <br />
            <div>
                <h3><strong>2. Select type &nbsp; <span style="color:red">*</span> </strong></h3>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01"><strong>Type</strong></label>
                    </div>
                    <select name="Material" class="custom-select" id="dimension">
                        <option value="0" selected>Choose...</option>
                        <option value="10" selected>test-one</option>
                        @foreach (var item in ViewBag.dimensions)
            {
                <option value="@item">@item</option>
}
                    </select>
                </div>
                <div><span style="color:red" id="wngdimension"></span> </div>
            </div>
            <input type="hidden" name="price" id="priceval" value="" />
            <div>
                <div>
                    <br />
                    <div>
                        <h3><strong> Qty &nbsp; <span style="color:red">*</span></strong></h3>
                        <div class="input-group mt-3 mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><strong>Qty</strong></label>
                            </div>
                            <select name="amount" class="custom-select" id="amount">
                                <option value="0" selected>Choose a type first</option>
                                <option value="10" selected>test-one</option>
                            </select>
                        </div>
                        <div><span style="color:red" id="wngamount"></span> </div>
                    </div>
                    <div>
                        <strong id="pricelbl"></strong> <a id="price"></a>
                        <br />
                        <br />
                        <h5>
                            <div style="display:inline-block;">
                                <strong id="description">
                                </strong>
                            </div>
                        </h5>
                    </div>
                    <br />
                    <div>
                        <input type="hidden" name="Templateid" value="@ViewBag.Name" />
                        <input type="hidden" name="dimension" id="dimensionval" value="" />

                        <button id="submit" style="display:none" type="submit"></button>
                    </div>
                </div>
            </div>
            <!--Form ends here-->
}
                    <button id="validator" class="btn btn-primary btn-lg btn-block"><strong>CUSTOMIZE IT</strong> <i data-feather="arrow-right"></i></button>
                </div>

                <div class="col-md-1 col-sm-12"></div>

            </div>

        </div>

    </div>

</div>


<br />
<br />

@section Scripts{
    <script>
          window.onload = function () {
            var img = document.getElementById("img");
            img.width = removePixels("@ViewBag.width");
            img.height = removePixels("@ViewBag.height");
        }

        var dimension = document.getElementById("dimension");
        var amount = document.getElementById("amount");
        var validator = document.getElementById("validator");
        var wngamount = document.getElementById("wngamount");
        var wngmat = document.getElementById("wngdimension");
        var price = document.getElementById("price");
        var pricelbl = document.getElementById("pricelbl");
        var description = document.getElementById("description");
        var priceval = document.getElementById("priceval");
        var dimensionval = document.getElementById("dimensionval");
        var prices;
        var quantities;
        var flag = 0;


        console.log(priceval);

        amount.onchange = (e) => {
            var counter = 0;
            if (e.target.value !== 0) {
                if (prices) {
                    if (quantities) {
                        for (var item of quantities) {
                            if (item == e.target.value) {
                                price.innerHTML = "$ " + prices[counter];
                                priceval.value = prices[counter];
                            }
                            counter++;
                        }
                    }
                }
            }
        }


        dimension.onchange = (e) => {
            if (e.target.value != 0) {
                 $("#preloader").show();
            var type = dimension.value;
               $.ajax({
                        type: 'GET',
                   contentType: 'application/json',
                        url: '@Url.Action("GetQuantyAndDetails", "Market")'+"?type="+type,
                        data: null,
                        processData: true,
                        success: function (result) {
                            if (result) {
                                $("#preloader").hide();
                                amount.innerHTML = "";
                                var option = null;
                                for (var item of result.Quantity) {
                                    option = document.createElement('option');
                                    option.value = item;
                                    option.innerHTML = item;
                                    option.classList.add('price');
                                    amount.append(option);
                                }

                                if (result.Quantity) {
                                    pricegroup = document.querySelectorAll(".price");
                                    pricelbl.innerHTML = "Price : ";
                                    price.innerHTML = "$ " + result.Prices[0];
                                    priceval.value = result.Prices[0];
                                    console.log(priceval.value);
                                    description.innerHTML = result.Description;
                                    prices = result.Prices;
                                    quantities = result.Quantity;
                                    dimensionval.value = result.dimension;
                                }

                            }
                            else {
                                $("#preloader").hide();
                                alert("Error getting template details, refresh the page and try again...");
                            }
                        },
                        error: function (error) {
                            $("#preloader").hide();
                            console.log(error);
                            setTimeout(function () {
                                alert("Error getting template details, refresh the page and try again...");
                            }, 1000);

                        }
                    });
            }

        }

        validator.onclick = function () {
            if (dimension.value == 0) {
                wngmat.innerHTML = "You must select a type";
                flag++;
            } else {
                wngmat.innerHTML = "";
            }

            if (amount.value == 0) {
                wngamount.innerHTML = "You must select an amount";
                flag++;
            } else {
                wngamount.innerHTML = "";
            }


            if (flag !== 0) {
                flag = 0;
                return;
            } else {
                $("#submit").trigger("click");
            }

        }


        function removePixels(text) {
            var chars = text.split('');

            var len = chars.length - 1;
            var result = '';
            var count = 1;
            for (var i of chars) {
                if (count == len) {
                    break;
                }
                result = result + i;
                count++;
            }
            return result;
        }
    </script>
}
